

@import url(https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap);

html {
    scroll-behavior: smooth;
}

body {
    font: normal 18px/22px "Valera Round", sans-serif;
    color: whitesmoke;
    background-color: #430a0a;
    text-decoration: none;
}

h1, h2, h3, .descriptionTitle {
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.homeDiv {
  text-align: center;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

p.description {
  font: normal 18px/22px "Valera Round", sans-serif;
  color: whitesmoke;
  text-decoration: none;
  text-align: left;
}

.select, .comicsP {
  text-align: center;
  font-size: x-large;
}

.characterName {
  font-size: 20px;
  margin-bottom: 0;
  padding: 0;
}

.notFoundLink:hover {
  font-size: larger;
  color: #430a0a;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.9);
  transition: ease-in 0.5s;
}

.imgThumbnail {
  object-fit: cover;
  padding: 5px;
  width: 100%;
  max-height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 30px;
}

::-webkit-scrollbar-thumb {
background: #d27979;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #430a0a;
}

.comicsContainer {
  margin: 0 5px 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: transparent;
  width: 90%;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0px 0px 21px 5px rgba(198, 0, 4, 0.6);
}

.comicsItems {
  margin: 5% 0;
  padding-inline-start: 0;
}

.comicsItem {
  margin-bottom: 5%;
}

li  {
  display: flex;
  border: 3px solid red;
  border-radius: 8px;
  padding: 20px;
  background-color: rgba(31, 31, 31, 0.75);
  text-align: center;
  list-style-type: none;
  align-self: stretch;
  justify-self: stretch;
}


li:hover {
  border: 3px solid whitesmoke;
  background-color: rgba(187, 12, 12, 0.6);
  transition: ease-in-out .3s;
}

.noResultsMessage {
  background-color: whitesmoke;
  color: red;
  font-weight: bold;
  font-size: large;
}

button {
  width: 100%;
  border: solid 3px red;
  border-radius: 10px;
  background-color: transparent;
  color: whitesmoke;
  padding: 10px 28px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
}

button:hover {
  background-color: whitesmoke;
  color: #430a0a;
  border-color: red;
  transition: ease-in .3s;
}

.fetch, .error {
  font-size: x-large;
  text-align: center;
}

.fetch {
  display: flex;
  justify-content: center;
}

.fetch span {
  display: inline-block;
  position: relative;
  opacity: 0.6;
  animation: move-text 1.5s forwards infinite;
}

@keyframes move-text {
  0% { transform: translateY(0); opacity: 1; }
  50% { transform: translateY(-0.3em); }
  100% { transform: translateY(0); }
}

.error {
  background-color: red;
  border: solid 3px whitesmoke;
}

.charactersList, .characterDetails {
  margin: 5px 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 21px 7px rgba(198, 0, 4, 0.6);
}

.description {
  margin-right: 15px;
}

.charactersList {
  width: 100%;
  padding-right: 30px;
  margin-bottom: 140px;
}

.charactersContainer {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-rows: 6;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.detailGrid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 50%);
  grid-rows: 4;
  column-gap: 5px;
}

.characterThumbnail {
  width: 90%;
  height: 90%;
  border: solid 3px whitesmoke;
}

.characterThumbnail {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column: 1 / 2 ;
}

.descriptionTitle {
  grid-row: 1 / 1;
  grid-column: 2 / end;
}

.description {
  grid-row: 2 / 2;
  grid-column: 2 / end;
}

.comicsTitle {
  grid-row: 3 / 3;
  grid-column: 2 / end;
}

.comicsContainer {
  grid-row: inherit;
  grid-column: 2 / end;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 0;
  height: 40px;
  background-color: black;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  box-shadow: 0 -5px 10px rgba(198, 0, 4, 0.6);
}

footer div {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.bi {
  background-color: transparent;
  fill: whitesmoke;
  width: 48px;
  height: 48px;
}

.icon--svg {
  height: 52px;
  width: 130px;
}

footer div:hover {
  background-color: whitesmoke;
  color: #430a0a;
  border: solid 5px red;
  transition: ease-in .3s;
}

.githubDiv:hover .bi-github, .linkedInDiv:hover .bi-linkedin {
  background-color: whitesmoke;
  fill: #430a0a;
  transition: ease-in .3s;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: black;
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px rgba(198, 0, 4, 0.6);
}

nav a {
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a.active {
  background-color: #430a0a;
  color: whitesmoke;
  border: solid 2px whitesmoke;
}

nav a:hover {
  background-color: whitesmoke;
  color: #430a0a;
  border: solid 5px red;
  transition: ease-in .3s;
}

nav div:hover {
  background-color: whitesmoke;
  color: #430a0a;
  border: solid 5px whitesmoke;
  transition: ease-in .3s;
}

.navBar::after {
  content: "";
  clear: both;
  display: table;
}

.notFound {
  text-align: center;
}